


/* body {
	min-width: 280px;
	max-width: 1920px;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #1e1e1e;
	font-weight: 400;
	font-family: "Open Sans";
	background-color: #ffffff;
	min-height: 100vh;
} */

a {
}



@import '../style/variables.css';
@import '../style/fonts.css';
@import '../style/basic.css';
@import '../style/header.css';
@import '../style/navigation.css';
@import '../style/film-week.css';
@import '../style/other-films.css';
@import '../style/footer.css';
@import '../style/footer.css';
//@import 'media';

button {
}
